            </div>
        </div>
    </div>
</div>
<!--3 div closer for gutter from nav.ejs-->
        <footer class="footer fixed-bottom">
            <div class="container d-flex justify-content-end">
                <span class="text-muted">&copy; 2021 Ferdian Atmadiputra - School App</span>
            </div>
        </footer>
    </body>
</html>